body{
	background-color: #fff;
	font-family: 'open sans'
}
.wrapper{
	width:1140px;
	margin: auto;
}
.header-strip{
	background: #fff;
	height: 70px;
	border-bottom: 4px solid #4492D6;
	position: fixed;

}
.logo{
	background: url('images/logo.png')no-repeat;
	width:171px;
	height: 41px;
	display: inline-block;
	margin-top: 8px;
}
.menu-list{
	float: left;
	margin-left: 35px;
	text-decoration: none;
	color: #666;
	text-transform: capitalize;
	font-size: 16px;
}
#menu > li{
	float: left;
	list-style: none;
}
#menu{
	float: right;
	padding-top: 8px;
}
.quote{
	font-size: 36px;
	margin: 0;
	color: #fff;
	font-weight: 300;
	padding-top: 30px;
	text-align: center;
	text-shadow:3px 3px 3px rgba(0,0,0,0.3);
}
.btn-primary{
	background-color: #24B043;
	color: #fff;
	font-size: 16px;
	text-transform: capitalize;
	text-decoration: none;
	border-radius: 20px;
	padding: 10px 20px;
}
.btn-spl{
	position: absolute;
	bottom:70px;
	left: 630px;
	font-size: 16px;
}
.btn-wrapper{
	width:165px;
	margin: auto;
	margin-top: 50px;
}
#slide {
	position: relative;
  	list-style: none;
  	overflow: hidden;
  	width: 100%;
  	padding: 0;
  	margin: 0;
  	color: #EDEAEA;
	}
#slide > li{
	 -webkit-backface-visibility: hidden;
  	position: absolute;
  	display: none;
  	width: 100%;
  	left: 0;
  	top: 0;
}
#slide li: first-child{
	position: relative;
  	display: block;
  	float: left;
}
#slide > img {
	display: block;
  	height: auto;
  	float: left;
  	width: 100%;
  	border: 0;
}
.slide-title-right{
	position: absolute;
	top:20px;
	left:630px;
	font-weight: 200;
	font-size: 28px;
}
.slide-content-right{
	position: absolute;
	bottom:140px;
	left:630px;
	width:40%;
	font-size: 16px;
	font-weight: 300;

}
.container{
	padding-top: 40px;
	width: 1140px;
	margin: auto;
	text-align: center;
}
.container-title{
	text-align:center; 
	font-weight: 200;
	font-size: 28px;
}
.container-content{
	padding-left: 70px;
	font-size: 18px;
	font-weight: 100;
	text-align: center;
	line-height: 24px;
}
.container-row{
	margin-top: 50px;
}
.container-col1,.container-col2{
	width: 45%;
	display: inline-block;
	font-weight: 200;
	padding-right: 50px;

}
.container-col2>img{
	padding-top: 10px;
}
.col1-title,.col2-title{
	font-weight: 200;
	text-align: center;
	padding-top: 10px;
}
/**.col3-title{
	font-weight: 200;
	padding: none;
	text-align: center;	
} **/

.container-col1 , .container-col2  > p{
	text-align: center;
	line-height: 24px;
	font-size: 16px;
	font-weight: 200;
}
.best-container{
	padding-top: 30px;
}

.best-container-title{
	text-align: center;
	font-weight: 200;
	font-size: 28px;
}
.wrapper{
	width: 1140px;
	margin: auto;
}
.cards{
	width: 290px;
	height: 580px;
	display: block;
	background: #fff;
	border-radius: 4px;
	margin: 40px 40px;
	box-shadow:0 0 0 2px #e9e7e7;
	float:left;
}
.best-img img{
	border-radius: 5px 5px 0 0;
	width: 290px;
	height: 430px;
}
.best-story-description-title{
	font-weight: 200;
	font-size: 18px;
	text-align: center;
	padding-top: 20px;
	display: block;
}
.best-story-description{
	font-weight: 100;
	font-size: 14px;
	text-align: center;

}
.clear{
	clear: both;
}
footer{
	text-align: center;
	background-color: #ededed;
}
.footer-content{
	font-size: 16px;
	color: #666;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;

}

