body{
	background-color: #fff;
	font-family: 'open sans'
}
.wrapper{
	width:1140px;
	margin: auto;
}
.header-strip{
	background: #fff;
	height: 70px;
	border-bottom: 4px solid #4492D6;
	position: fixed;
	z-index: 9;
}
.logo{
	background: url('images/logo.png')no-repeat;
	width:171px;
	height: 41px;
	display: inline-block;
	margin-top:8px;
}
.menu-list{
	float: left;
	margin-left: 35px;
	text-decoration: none;
	color: #666;
	text-transform: capitalize;
	font-size: 16px;
}
#menu > li{
	float: left;
	list-style: none;
}
#menu{
	float: right;
	padding-top: 8px;
}
.banner{
	height:200px;
	background-color: #b0d753;
}
.head-txt{
	padding: 70px;
	font-weight:200;
	font-size: 28px;
	text-align: center;
	color: #fff;
}
.category-bar{
	padding-top: 60px;
	height: 54px;
}
.wrapper{
	width: 1140px;
	margin:auto;
}

.category-bar span{
	color: #777;
	font-size: 16px;
	font-weight: 400;
	padding-top: 5px;
	padding-left: 10px;
	float: left;
	padding-right: 20px;
}
#filter-wrapper{
	padding-top: 22px;
	padding-left: 20px;
}
.filter{
	padding: 5px 10px 5px 10px;
	color: #000;
	font-weight: 400;
	border: 1px solid #e4e4e4;
	font-size: 16px;
	text-decoration: none;
	-webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
	border-radius: 4px;
	float: left;
	margin-right: 30px;
}
.listing-wrapper{
	padding-top: 20px;
}
.mix{
	width: 300px;
	height: 320px;
	display: block;
	background: #fff;
	-webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
	margin: 25px 25px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px 0px;
	text-decoration: none;
	float: left;
	transition: margin 0.2s;
	position: relative;
}
.cover{
	display: inline-block;
	vertical-align: top;
}
.cover >.img{
	padding:10px;
}
.cover > img{
	-webkit-border-radius:4px;
       -moz-border-radius:4px;
            border-radius:4px;
}


.story-info{
	padding-left: 75px;
	display: inline-block;
	text-align: center;
}
.story-info > .title {
	color: #000;
	font-size: 20px;
	margin: 0;
	font-weight: 300;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ededed;
}
.description{
	font-size: 18px;
	font-weight: 300;
	margin: 0 auto;
}
.share{
	width: 35px;
	height: 35px;
	position: absolute;
	right: 8px;
	bottom: 20px;
}
.btn-twitter{
	background: url(images/twitter.png)no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 4px;

}
.btn-google{
	background: url(images/g+.png)no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	margin-left: 6px;
	margin-top: 14px;

}
.listing-wrapper .mix{
	display: none;
}
.clear{
	clear: both;
}
footer{
	text-align: center;
	background-color: #ededed;
}
.footer-content{
	font-size: 16px;
	color: #666;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;

}

