body{
  background-color: #d3d3d3;
  color: #fff;
  font-family: 'Comfortaa', cursive;
}
.col_one{
  background-color: #0070ba;
  height: 730px;
  padding-left: 40px!important;
}
.item_wrapper > h5{
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.item_wrapper > p{
margin-bottom: 5px;
margin-top: 40px;
font-size: 14px;
font-weight: 300;

}
.item_wrapper{
  border-bottom: 1px solid #fff;
  margin-right: 30px;
  
}
.col_two{
  background-color: #fff;
    height: 730px;
    color: #000;
}
.full_length{
  max-width: 1309px!important;
}
.pay{
  padding: 40px 40px;
  width: 200px;
  display: inline-block;
}
.d_text{
      display: inline-block;
    padding: 30px 50px;
    float: right;
    color: #d3d3d3;
}
.item_wrapper_right{
  border-bottom: 1px solid #B4C2CE;
  margin: 10px 40px;
}
.generateBtn{
  width: 300px;
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 5px;
  border-color: #0070ba;
  text-decoration: none;
  border: 1px solid #0070ba;
  color: #000;
  
}
.generateBtn:hover{
  background-color:#0070ba;
  cursor: pointer;
  color: #fff; 
}
.buttonWrapper{
  margin-left: 25%;

}
.w_text{
  padding-left: 40px;
  display: inline-block;

}
