.card{
	width: 300px;
	border: 1px solid #000;
	border-radius: 1px;
}
.font-p{
	font-size: 16px;
	font-weight: 300;
}
.font-heading{
	font-size: 26px;
	font-weight: 600;
}
.font-subheading{
	font-size: 24px;
	font-weight: 400;
}
.card > img{
	width: 100%;
	height: 300px;
}